In [7]:
text="hello   world   "
print(text.strip(" "))

hello   world

In [8]:
name=input("enter your name")
length=len(name)
print(length)

enter your namekavya
5

In [10]:
firstname=input("enter your first name")
surname=input("enter your surname")
name=firstname+" "+surname
length=len(name)
print(name)
print(length)

enter your first namekavya
enter your surnamesetty
kavya setty
11

In [11]:
firstname=input("enter your first name")
surname=input("enter your surname")
firstname=firstname.title()
surname=surname.title()
name=firstname+" "+surname
print(name)

enter your first nameabhi
enter your surnameprasad
Abhi Prasad

In [13]:
word=input("enter a word")
word=word.upper()
print(word)

enter a wordsuraj
SURAJ

In [14]:
import math
num=float(input("enter a number with lots of decimal places"))
answer=num*2
print(answer)
print(round(answer,2))

enter a number with lots of decimal places1.2345555667
2.4691111334
2.47

In [16]:
import math
print(round(math.pi,5))

3.14159

In [17]:
import math
radius=int(input("enter the radus of the circle"))
area=math.pi*(radius**2)
print(area)

enter the radus of the circle5
78.53981633974483

In [20]:
import math
radius=int(input("enter the radius of the circle"))
depth= int(input("enter the depth"))
area=math.pi*(radius**2)
volume=area*depth
print(round(volume,3))

enter the radius of the circle3
enter the depth4
113.097

In [23]:
import math
num1=int(input("enter a number"))
num2=int(input("enter another number"))
ans1=num1//num2
ans2=num1%num2
print(num1,"divided by",num2,"is",ans1,"with",ans2,"remaining:")

enter a number3
enter another number4
3 divided by 4 is 0 with 3 remaining:

In [24]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in range(1,10,2):
    
    print(i)

1
3
5
7
9

In [29]:
for i in range(10,1,-3):
    print(i)

10
7
4

In [33]:
for i in word:
    print(i)

S
U
R
A
J

In [34]:
name=input("enter your name")
for i in range(0,3):
    print(name)

enter your namekavya
kavya
kavya
kavya

In [36]:
name=input("enter your name")
number=int(input("enter a number"))
for i in range(0,number):
    print(name)

enter your nameaishu
enter a number4
aishu
aishu
aishu
aishu

In [38]:
name=input("enter a name")
for i in name:
    print(i)

enter a namejonas
j
o
n
a
s

In [44]:
name=input("enter your name")
number=int(input("enter a number"))
for x in range(0,number):
    for i in name:
        print(i)

enter your namemikkel
enter a number2
m
i
k
k
e
l
m
i
k
k
e
l

In [47]:
num=int(input("enter a number between 1 t0 12: "))
for i in range(1,13):
    answer=i*num
    print(i,"x",num,"=",answer)

enter a number between 1 t0 12: 8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96

In [49]:
num=int(input("enter a number within 50: "))

for i in range(50,num-1,-1):
    print(i)

enter a number within 50: 20
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20