In [1]:
fruit_tuple=("apple","banana","strawberry","cherry")
print (fruit_tuple.index("strawberry"))

2

In [4]:
fruit_tuple=("apple","banana","strawberry","cherry")
print(fruit_tuple[2])

strawberry

In [12]:
x = [154,634,892,345,341,43]

In [13]:
print(len(x))

6

In [14]:
print(x[1:4])

[634, 892, 345]

In [15]:
for i in x:
    print(i)

154
634
892
345
341
43

In [19]:
x.insert(2,420)

In [20]:
print(x)

[154, 634, 420, 892, 345, 341, 43]

In [21]:
x.remove(892)

In [22]:
print(x)

[154, 634, 420, 345, 341, 43]

In [25]:
x.remove(43)
print(x)

[154, 634, 420, 345, 341]

In [26]:
x.append(993)
print(x)

[154, 634, 420, 345, 341, 993]

In [30]:
countries_tuple=["america","canada","australia","england"]
print(countries_tuple)
print()
country=input("enter the country name u visited")
print(country,"indexed number",countries_tuple.index(country))

['america', 'canada', 'australia', 'england']

enter the country name u visitedaustralia
australia indexed number 2

In [31]:
sports_list=["tennis","football","badminton"]
sports_list.append(input("what is your fav sport?"))
sports_list.sort()
print(sports_list)

what is your fav sport?cricket
['badminton', 'cricket', 'football', 'tennis']

In [35]:
food_dictionary={}
food1=input("enter a food u like: ")
food_dictionary[1]=food1
food2=input("enter a 2nd food u like: ")
food_dictionary[2]=food2
food3=input("enter a 3rd food u like: ")
food_dictionary[3]=food3
food4=input("enter a last food u like: ")
food_dictionary[4]=food4
print(food_dictionary)
dislike=int(input("which of these u want to get rid of"))
del food_dictionary[dislike]
print(sorted (food_dictionary.values()))

enter a food u like: dosa
enter a 2nd food u like: pizza
enter a 3rd food u like: burger
enter a last food u like: noodles
{1: 'dosa', 2: 'pizza', 3: 'burger', 4: 'noodles'}
which of these u want to get rid of1
['burger', 'noodles', 'pizza']

In [36]:
colors=["blue","green","red","yellow","orange","purple","pink","white","black"]
start=int(input("enter a starting number(0-4):"))
end=int(input("enter a ending number(5-9):"))
print(colors[start:end])

enter a starting number(0-4):2
enter a ending number(5-9):6
['red', 'yellow', 'orange', 'purple']

In [42]:
tup = ('physics', 'chemistry', 1997, 2000)
print tup
del tup
print "After deleting tup : "
print tup

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(tup)? (<ipython-input-42-3b9142545ccb>, line 2)

In [39]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [43]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [44]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [45]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [46]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [47]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [53]:
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict)

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}